<div class="flex-row">
<div class="flex-column form-floating mb-3">
    <input class="form-control" id="usd" placeholder=""required/>
    <label for="usd">Price(In USD)</label>
</div>
<div class="flex-column form-floating mb-3">
    <input class="form-control" id="usd" placeholder=""required/>
    <label for="usd">Security(In USD)</label>
</div>
<div class="flex-column form-floating mb-3">
    <input class="form-control" id="usd" placeholder=""required/>
    <label for="usd">maintenance(In USD)</label>
</div>
<div class="flex-column form-floating mb-3">
    <input class="form-control" id="usd" placeholder=""required/>
    <label for="usd">Built Area(In Sqr Feet)</label>
</div>
<div class="flex-column form-floating mb-3">
    <input class="form-control" id="usd" placeholder=""required/>
    <label for="usd">Carpet Area(in Sql Feet)</label>
</div>
</div>
