// .btn-panel{
//     position: relative;
//     right: -90%;
//     width: 100px
// }
// .btn-prev{
//     position: relative;
//     right: 9%;
// }

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}